body {
	background-color:  	#666547;
	color: #ffe28a;
}

button {
	background-color:  	#ffe28a;
	color: #333;
}

.wrap {
	margin: 0 auto;
}

.container {
	width: 100%;
	max-width: 600px;
	border: 1px solid #000000;
	padding: 10px;
	color: #333;
}

#output {
	margin-top: 20px;
}

.online {
	background-color:  	#6fcb9f;
}

.offline {
	background-color: #fb2e01;
	color: #ffe28a;
}

a {
	text-decoration: none;
	color: #fb2e01;
}

a:hover {
	text-decoration: underline;
}
